header {
  height: 100px;
  background-color: #1c1b1b;

  .header-content {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
